
.DS_Store
aProgramforAnalyzingSerialMusic/smAnalysis
PointerArithmetic/TranspositionProgramUsingPointerArithmetic
PointerArithmetic/TranspositionProgramUsingPointerArithmetic.dSYM/Contents/Info.plist
PointerArithmetic/TranspositionProgramUsingPointerArithmetic.dSYM/Contents/Resources/DWARF/TranspositionProgramUsingPointerArithmetic
freq2midi/freq2midi
midinote2stringlength/m2s
pitchBend/pb
midi2freq/midi2freq2
